/* CSS HEX
--space-cadet: #2b2d42ff;
--manatee: #8d99aeff;
--cultured: #edf2f4ff;
--imperial-red: #ef233cff;
--amaranth-red: #d90429ff; */

.app {
  text-align: center;
}

.app-header {
  background-color: #fca311;
  max-height: 20vh;
  padding: 0.5% 5%;
  position: relative;
}

.app-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-nav-logo {
  width: 250px;
  height: 75px;
}

.app-nav-links {
  padding: 5px 0;
  margin: 0;
}

.app-nav-links li {
  display: inline-block;
  margin: 0 20px;
}

.app-nav-links li a {
  text-decoration: none;
  color: #14213d;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 0;
}

.app-main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #14213d;
}
.app-main-title {
  font-size: 4rem;
  color: #14213d;
}

.app-footer {
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: bold;
  color: #14213d;
}
