.app {
  text-align: center;
}

.app_header {
  background-color: #fca311;
  max-height: 20vh;
  padding: 0.5% 5%;
  position: relative;
}

.app_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app_nav_logo {
  width: 250px;
  height: 75px;
}

.app_nav_links {
  padding: 5px 0;
  margin: 0;
}

.app_nav_links li {
  display: inline-block;
  margin: 0 20px;
}

.app_nav_links li a {
  text-decoration: none;
  color: #14213d;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 0;
}

.app_main {
  min-height: 80vh;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: space-evenly;
  color: #14213d;
}

.app_main_title {
  font-size: 4rem;
  color: #14213d;
  margin: 5px 0;
}

.app_main h2 {
  margin: 10px 0;
}
.app_main_grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.app_main_grid_card {
  padding: 2%;
  margin-top: 5%;
  min-height: 40vh;
}

.app_main_button {
  color: #14213d;
  background-color: white;
  border-color: #000000;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-weight: bolder;
  font-size: 16px;
}

.app_main_button:hover {
  background-color: #fca311;
  border-color: transparent;
}

.app_footer {
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: bold;
  color: #14213d;
}
