/* CSS HEX
--space-cadet: #2b2d42ff;
--manatee: #8d99aeff;
--cultured: #edf2f4ff;
--imperial-red: #ef233cff;
--amaranth-red: #d90429ff; */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #ffffff;
  max-height: 20vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  /* font-size: calc(10px + 2vmin); */
}

.App-Main {
  background-color: #ffffff;
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}

.App-footer {
  background-color: #ffffff;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}
.App-link {
  color: #61dafb;
}
