.connect_button {
  color: #14213d;
  background-color: white;
  border-color: #000000;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-weight: bolder;
  font-size: 16px;
}

.connect_button:hover,
.connect_button:focus {
  color: white;
  background-color: #14213d;
  border-color: transparent;
  outline: none;
}

.game_button {
  color: #14213d;
  background-color: white;
  border-color: #000000;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-weight: bolder;
  font-size: 16px;
  margin-top: 50px;
}

.game_button:hover {
  background-color: #fca311;
  border-color: transparent;
}
